{% extends '../base.html' %}
{% block title %}联系我们{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-group" style="text-align: center">
                <li class="list-group-item">管理员: 霍之锐</li>
                <li class="list-group-item">联系电话: 15696331662 </li>
                <li class="list-group-item">微信号码: 15696331662 </li>
                <li class="list-group-item">QQ号码: 1580641239</li>
                <li class="list-group-item">联系邮箱: hoganmail@163.com</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}